<ion-tabs>

  <ion-tab-bar >

    <ion-tab-button tab="home">
      <ion-icon name="scan"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="rewards">
      <ion-icon name="ribbon"></ion-icon>
      <ion-label>Rewards</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="offers">
      <ion-icon name="list"></ion-icon>
      <ion-label>Offers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  
  </ion-tab-bar>

</ion-tabs>
