<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Customize Customer Birthday</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-item lines="none">
  <ion-label>Customize reward stamp</ion-label>
  <ion-toggle color="success" slot="end" mode="ios"></ion-toggle>
</ion-item>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button expand="block" mode="ios">
Customize
  </ion-button>
</ion-footer>
