<ion-content class="ion-padding">
  <div class="scan_container" *ngIf="!codeScanned">
    <ion-icon name="scan-outline"></ion-icon>
    <ion-button (click)="scanQR()">Scan</ion-button>
    
  </div>

  <div class="scanned_container" *ngIf="codeScanned">
    <form>
  
      <p class="enter_your_phone">Mobile Number</p>
 
      <ion-item lines="none">
      
        <ion-input type="tel" placeholder="Mobile Number"></ion-input>
      </ion-item>
      <p class="enter_your_phone">Add Stamp</p>
      <ion-item lines="none">
      
        <ion-input type="text" placeholder="Add image for stamp"></ion-input>
      </ion-item>
  
   
       
      
    
      <ion-button (click)="submit()">
        Confirm
      </ion-button>
      </form>

  </div>
</ion-content>
