<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
    <ion-buttons slot="end">
     <ion-button slot="icon-only">
       <ion-icon name="push-outline" color="primary"></ion-icon>
     </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="offersContainer">

    <div class="shop_offers">
      <ion-card>
        <img src="assets/offer1.png" alt="">
      </ion-card>
      <ion-card>
        <img src="assets/offer2.png" alt="">
      </ion-card>
     
    </div>
    
    </div>
</ion-content>
