ion-header{
    --background:transparent;
    border:0px;
    ion-toolbar{
    --background:transparent;
    ion-title{
        --color:black;
        font-weight: bold;
    }

    }
}
.offersContainer{
    padding:16px;
    .shop_offers{
      ion-card{
        box-shadow:none;
        width:100%;
        margin:0px;
        padding:10px;
        --background:rgba(91, 75, 232, 0.05);
        border-radius:10px;
        margin-bottom: 2vh;
        height:150px;
        img{
          width:100%;
          height:100%;
        }
      }
    }
  }